.link {
  text-decoration: none;
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    top: 100%;
    transition: all 0.25s ease-in-out 0s;
  }

  &:hover::before {
    width: 100%;
  }

  &.active::before {
    width: 100%;
  }
}
